:root {
    --color-verde: rgb(31, 191, 113);
    --color-rojo: rgb(226, 33, 52);
    /* --bs-dark-rgb: 30, 30, 30 !important;
    --bs-body-bg: 44, 44, 44 !important;
    --bs-border-width: 1px solid rgb(219, 71, 71) !important; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #303030 !important;
    color: #f0c000;
}

#chart {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.text-verde {
    color: var(--color-verde);
}

.text-rojo {
    color: var(--color-rojo);
}

/* FORMULARIO TRADING */

.form-control {
    background-color: 44, 44, 44 !important;
}

/* CAMBIO DE COLOR DEL PUNTO DEL SLIDER THUMB DINÁMICO */

/* Chrome/Safari */
input[type='range'].slider-compra::-webkit-slider-thumb {
    background-color: rgb(31, 191, 113) !important; /* verde */
}

input[type='range'].slider-venta::-webkit-slider-thumb {
    background-color: rgb(226, 33, 52) !important; /* rojo */
}

/* Firefox */
input[type='range'].slider-compra::-moz-range-thumb {
    background-color: rgb(31, 191, 113) !important;
}

input[type='range'].slider-venta::-moz-range-thumb {
    background-color: rgb(226, 33, 52) !important;
}

/* Estilos del dropdown de Select2 */
.select2-container--default .select2-results__option {
  color: black;
}

/* Fondo blanco del dropdown */
.select2-container--default .select2-results {
  background-color: white;
}

/* Fondo blanco en el campo de entrada de búsqueda */
.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: white;
  color: black;
}

/* También el contenedor principal si querés que se vea bien al estar cerrado */
.select2-container--default .select2-selection--single {
  background-color: white;
  color: black;
}

