{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const flashedMessages = {{ messages|tojson|safe }};

        if (typeof Toast !== 'undefined') {
            flashedMessages.forEach(([category, message]) => {
                const iconType = category === 'danger' ? 'error' : 'success';
                Toast.fire({
                    icon: iconType,
                    title: category === 'danger' ? 'Error en la operación' : 'Operación Procesada',
                    html: message 
                });
            });
        } else {
            console.error("SweetAlert Toast no está definido.");
        }
    });
</script>
{% endif %}
{% endwith %}