{% for cripto in datos %}
<tr>
    <td class="text-center">
        {{ cripto.ticker }}
        {% if cripto.es_polvo %}
            <span class="text-muted" style="font-size: 0.8em;">(polvo)</span>
        {% endif %}
    </td>
    <td class="text-center">
        {% if cripto.ticker != 'USDT' %}
            {{ cripto.cantidad | formato_cantidad }}
        {% else %}
            {{ cripto.cantidad | formato_valor(2, 0.01, '') }}
        {% endif %}
    </td>
    <td class="text-center">{{ cripto.precio_actual | formato_valor(6, 0.000001, '') }}</td>
    <td class="text-center">{{ cripto.valor_usdt | formato_valor }}</td>
    <td class="text-center" style="color: {{ cripto.color_ganancia }};">
        {{ cripto.ganancia_perdida | formato_valor }}
    </td>
    <td class="text-center" style="color: {{ cripto.color_porcentaje }};">
        {{ cripto.porcentaje_ganancia | formato_valor(2, 0.0001, '') }}%
    </td>
    <td class="text-center">{{ cripto.porcentaje | formato_valor(2, 0.01, '') }}%</td>
</tr>
{% endfor %}