{% for cripto in datos %}
<tr>
    <td class="text-center">{{ cripto.ticker }}</td>
    <td class="text-center">
        {{ '%.6f' % (cripto.cantidad | float) if cripto.ticker != 'USDT' else '%.2f' % (cripto.cantidad | float) }}
    </td>
    <td class="text-center">${{ '%.6f' % (cripto.precio_actual | float) }}</td>
    <td class="text-center">${{ '%.2f' % (cripto.valor_usdt | float) }}</td>
    <td class="text-center" style="color: {{ cripto.color_ganancia }};">
        ${{ '%.2f' % (cripto.ganancia_perdida | float) }}
    </td>
    <td class="text-center" style="color: {{ cripto.color_porcentaje }};">
        {{ '%.2f' % (cripto.porcentaje_ganancia | float) }}%
    </td>
    <td class="text-center">{{ '%.2f' % (cripto.porcentaje | float) }}%</td>
</tr>
{% endfor %}